<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        div{
                      
        }
         img{
             max-height: 200px;
             max-width: 200px;    
         }
         .imgClass{
            float: left; border-style: groove; height: 200px; width: 200px; margin: 10px;            
         }   
         p{
             font-size:xx-large ;
             text-align: center;
         }     
         #app{
            border-style:double; 
            width: max-content; 
            height: 550px;
         }
       
    </style>

  </head>
  <body>
    <div id="app">       
        <div v-for="(card, index) in cards" :key="card.id"> <!--Блок виводу картки-->
        <div v-if="card.id === activeCardId"> <!--Блок відображення 1-ї картки-->
            <div> <!--Блок виводу заголовка-->
                <p>{{card.title}}</p>
            </div>
            <div> <!--Блок виводу зображення для запитання-->
                <div>
                <div class="imgClass"> <!--Блок виводу питання-->
                    <img 
                        :src="card.sovaImgPath" 
                        @click="doSoundQuestion" 
                        alt="owl.png" 
                        title="натисни аби озвучити"
                    >                                     
                    <audio 
                        ref="soundQuestion" 
                        :src="card.audioQuestionPath">
                    </audio>
                   <!-- <button @click="doSoundQuestion">Озвучити питання</button>-->
                </div>
                <div class="imgClass">
                    <img :src="card.displayResultPath[card.displayResult]" alt="questionMark.png" >                      
                </div> 
                <div class="imgClass" style="border-style: none;">
                    <img :src="card.nextArrowImgPath" style="margin-top:30px " @click="doNextQuestion(index)" alt="rightArrow.png" title="Наступне питання">
                </div>
            </div>               
                <div style="clear:left" > <!--Блок виводу областы показу выдповыіді-->
                    <div 
                    :ref="`answIm_${index1}`" 
                    class="imgClass" 
                    @click="doSelectAnswer(index1,index)" 
                    v-for="(answer, index1) in card.answerOptionsPaths" 
                    :key="index1"
                    >
                        <img style="pointer-events: none;" :src="answer" alt="answer.png" >
                    </div>                    
                </div>   
            </div>   
        </div>
    </div>
    </div>
    <script>
    let cards = [
                {
                id: "1",
                title: "Про яке зображення запитує сова?",
                sovaImgPath: "./images/owl.jpg",
                audioQuestionPath: "./sound/q1.mp3",
                nextArrowImgPath:"./images/next_arrow.jpg",
                correctAnswerIndex:1,
                displayResult:2,
                displayResultPath: [
                    "./images/no.png",
                    "./images/yes.png",
                    "./images/questionMark.png",
                ],
                answerOptionsPaths: [
                    "./images/a1q1.png", 
                    "./images/a2q1.png",
                    "./images/a3q1.png", 
                    ]
                },
                {
                id: "2",
                title: "Про яке зображення запитує сова2?",
                sovaImgPath: "./images/owl.png",
                audioQuestionPath: "./sound/q2.mp3",
                nextArrowImgPath:"./images/next_arrow.jpg",
                correctAnswerIndex:0,
                displayResult:2,
                displayResultPath: [
                    "./images/no.png",
                    "./images/yes.png",
                    "./images/questionMark.png",
                ],
                answerOptionsPaths: [
                    "./images/a1q2.png", 
                    "./images/a2q2.png",
                    "./images/a3q2.png", 
                    ]
                },
            ];

        var app = new Vue({
        el: "#app",
        data: {     
            cards,       
            activeCardId:cards[0].id,  

        }, //end of DATA
        computed:{}, //end of COMPUTED
        watch:{}, //end of WATCH
        methods:{
            doNextQuestion(index){    
                if((index+1) < this.cards.length){          
                    this.activeCardId = cards[index+1].id;                     
                } else {
                        alert("Проходження завершено") ;
                    };    
            },
            doSoundQuestion(){
               this.$refs.soundQuestion[0].play();
            },
            doSelectAnswer(indexAnswer,indexCard){
                if(this.cards[indexCard].correctAnswerIndex === indexAnswer) {
                    this.$refs[`answIm_${indexAnswer}`][0].style.borderColor ="green";
                    this.cards[indexCard].displayResult = 1;

                } else {
                    this.$refs[`answIm_${indexAnswer}`][0].style.borderColor ="red";
                    this.cards[indexCard].displayResult = 0;

                }
            }

        } //end of METHODS
      })
    </script>
 </body>
</html>

